#timer {
  text-align: center;
  font-size: 10rem;
  margin: 0.5rem;
}
#score {
  text-align: center;
}

#counter-valuea {
  height: 50%;
}

#timer {
  font-family: Orbitron;
}

#counter-valuea {
  font-family: Orbitron;
}

#counter-valueb {
  font-family: Orbitron;
}
#fouls-a, #fouls-b {
  font-family: Orbitron;
}
