.timer {
  font-size: 11rem;
  font-family: Orbitron;
  color: #23e000;
}

.fouls-title {
  font-size: 120%;
}

#team-a, #team-b, #fouls-a, #fouls-b, #score {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.timer-container {
  height: 40vh;
}

.score-container {
  height: 25vh;
}

.fouls-container {
  height: 20%;
}

#counter-valuea, #counter-valueb {
  font-family: Orbitron;
  font-size: 6rem;
  color: #23e000;
}

#fouls-a, #fouls-b {
  color: #23e000;
}

#fouls-a, #fouls-b, #team-a, #team-b {
  font-family: Orbitron;
}

#foulsplus1-btna, #fouls-btna, #foulsplus1-btnb, #fouls-btnb {
  width: 4rem;
}

#timerPlus10s, #timerPlus1min, #timerMinus10s, #timerMinus1min , #start-stop, #reset-timer {
  width: 9rem;
  font-size: 2rem;
  background-color: rgb(51, 51, 51); 
  border-radius: 5px;
  color: #23e000; 
  border: 2px solid #23e000;
  transition-duration: 0.4s;
  box-shadow: 5px 10px 8px 5px #020202;
}

// #timerPlus10s, #timerPlus1min {
//   background-color: var(--app-bground-colour); 
//   border-radius: 5px;
//   color: #23e000; 
//   border: 2px solid #23e000;
//   transition-duration: 0.4s;
// }

#timerPlus10s:hover, #timerPlus1min:hover, #timerMinus10s:hover, #timerMinus1min:hover, #start-stop:hover, #reset-timer:hover {
  background-color: #23e000;
  color: white;
}

#increment-btna, #increment3-btna, #decrement-btna, #reset-btna,
#increment-btnb, #increment3-btnb, #decrement-btnb, #reset-btnb {
  width: 5rem;
  font-size: 1rem;
}
