.timer {
  font-size: 11rem;
  font-family: Orbitron;
}

.fouls-title {
  font-size: 120%;
}

#team-a, #team-b, #fouls-a, #fouls-b {
  font-size: 3vw;
  font-weight: bold;
}

.timer-container {
  height: 45vh;
}

.score-container {
  height: 25vh;
}

.fouls-container {
  height: 20%;
}

#score {
  text-align: center;
}

#counter-valuea, #counter-valueb {
  font-family: Orbitron;
  font-size: 6rem;
}

#fouls-a, #fouls-b {
  font-family: Orbitron;
}

#team-a, #team-b {
  font-family: Orbitron;
}

#timerPlus10s, #timerPlus1min, #timerMinus10s, #timerMinus1min , #start-stop, #reset-timer {
  width: 7rem;
  font-size: 1.5rem;
}
